<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Panel Datos Lab 4.0</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Tu CSS personalizado -->
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <!-- jQuery and Socket.IO -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>

    <!-- Tu script JavaScript -->
    <script src="static/script.js"></script>
</head>
<body>
    <div class="container mt-4">
        <h1>Panel Datos Lab 4.0</h1>
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        <div class="mt-4">
            <h2 id="parte2">Dato:</h2>
            <p>Felipe Flores</p>
            <p>Lab 4.0</p>
        </div>
    </div>

    <!-- CanvasJS -->
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-ggOyR0iXCbMQv3Xipma4LSTmaA9gCbdQCnAEwF6VcF2AwoVjTw8A+gF6G30MSSx" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
